* text=auto !eol
bert/lib/batik-awt-util-1.5.1.jar -text
bert/lib/batik-css-1.5.1.jar -text
bert/lib/batik-dom-1.5.1.jar -text
bert/lib/batik-ext-1.5.1.jar -text
bert/lib/batik-gui-util-1.5.1.jar -text
bert/lib/batik-gvt-1.5.1.jar -text
bert/lib/batik-parser-1.5.1.jar -text
bert/lib/batik-svg-dom-1.5.1.jar -text
bert/lib/batik-svggen-1.5.1.jar -text
bert/lib/batik-util-1.5.1.jar -text
bert/lib/batik-xml-1.5.1.jar -text
bert/lib/commons-collections-3.2.jar -text
bert/lib/freehep-base.jar -text
bert/lib/freehep-graphics2d.jar -text
bert/lib/freehep-graphicsio-cgm.jar -text
bert/lib/freehep-graphicsio-emf.jar -text
bert/lib/freehep-graphicsio-gif.jar -text
bert/lib/freehep-graphicsio-java.jar -text
bert/lib/freehep-graphicsio-pdf.jar -text
bert/lib/freehep-graphicsio-ppm.jar -text
bert/lib/freehep-graphicsio-ps.jar -text
bert/lib/freehep-graphicsio-svg.jar -text
bert/lib/freehep-graphicsio-swf.jar -text
bert/lib/freehep-graphicsio.jar -text
bert/lib/gef-layout.jar -text
bert/lib/panelbeater0.1.jar -text
bert/lib/swidgets-0.1.jar -text
bert/lib/toolbar-0.4.jar -text
bert/lib/velocity-1.4.jar -text
bert/lib/velocity-tools-generic-1.2.jar -text
bert/src/org/tigris/gefdemo/bert/Images/Association.gif -text
bert/src/org/tigris/gefdemo/bert/Images/AssociationClass.gif -text
bert/src/org/tigris/gefdemo/bert/Images/Class.gif -text
bert/src/org/tigris/gefdemo/bert/Images/Dependency.gif -text
bert/src/org/tigris/gefdemo/bert/Images/Generalization.gif -text
bert/src/org/tigris/gefdemo/bert/Images/Interface.gif -text
bert/src/org/tigris/gefdemo/bert/Images/Package.gif -text
bert/src/org/tigris/gefdemo/bert/manifest.mf -text
bert/src/org/tigris/gefdemo/bert/persistence/diagram.vm -text
lan/src/org/tigris/gefdemo/lan/Images/NodeComputer.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeCopier.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeFax.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeGame.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeHardDrive.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeHub.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeLaptop.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodePrinter.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeRouter.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeScanner.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeServer.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeSonar.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeWireless.gif -text
lib/commons-logging-1.0.2.jar -text
uml/lib/batik-awt-util-1.5.1.jar -text
uml/lib/batik-awt-util-1.7.jar -text
uml/lib/batik-css-1.5.1.jar -text
uml/lib/batik-dom-1.5.1.jar -text
uml/lib/batik-dom-1.7.jar -text
uml/lib/batik-ext-1.5.1.jar -text
uml/lib/batik-ext-1.7.jar -text
uml/lib/batik-gui-util-1.5.1.jar -text
uml/lib/batik-gvt-1.5.1.jar -text
uml/lib/batik-parser-1.5.1.jar -text
uml/lib/batik-svg-dom-1.5.1.jar -text
uml/lib/batik-svggen-1.5.1.jar -text
uml/lib/batik-svggen-1.7.jar -text
uml/lib/batik-util-1.5.1.jar -text
uml/lib/batik-util-1.7.jar -text
uml/lib/batik-xml-1.5.1.jar -text
uml/lib/batik-xml-1.7.jar -text
uml/lib/commons-collections-3.2.jar -text
uml/lib/freehep-base.jar -text
uml/lib/freehep-graphics2d.jar -text
uml/lib/freehep-graphicsio-cgm.jar -text
uml/lib/freehep-graphicsio-emf.jar -text
uml/lib/freehep-graphicsio-gif.jar -text
uml/lib/freehep-graphicsio-java.jar -text
uml/lib/freehep-graphicsio-pdf.jar -text
uml/lib/freehep-graphicsio-ppm.jar -text
uml/lib/freehep-graphicsio-ps.jar -text
uml/lib/freehep-graphicsio-svg.jar -text
uml/lib/freehep-graphicsio-swf.jar -text
uml/lib/freehep-graphicsio.jar -text
uml/lib/gef-layout.jar -text
uml/lib/panelbeater0.1.jar -text
uml/lib/swidgets-0.1.jar -text
uml/lib/toolbar-0.4.jar -text
uml/lib/velocity-1.4.jar -text
uml/lib/velocity-tools-generic-1.2.jar -text
uml/src/org/tigris/gefdemo/uml/Images/Actor.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Association.gif -text
uml/src/org/tigris/gefdemo/uml/Images/AssociationClass.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Class.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Dependency.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Generalization.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Interface.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Package.gif -text
www/images/gefscreen1.gif -text
