* text=auto !eol
lan/src/org/tigris/gefdemo/lan/Images/NodeComputer.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeCopier.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeFax.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeGame.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeHardDrive.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeHub.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeLaptop.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodePrinter.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeRouter.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeScanner.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeServer.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeSonar.gif -text
lan/src/org/tigris/gefdemo/lan/Images/NodeWireless.gif -text
lib/commons-logging-1.0.2.jar -text
lib/xerces_2_5_0.jar -text
lib/xml-apis.jar -text
uml/lib/batik-awt-util-1.5.1.jar -text
uml/lib/batik-css-1.5.1.jar -text
uml/lib/batik-dom-1.5.1.jar -text
uml/lib/batik-ext-1.5.1.jar -text
uml/lib/batik-gui-util-1.5.1.jar -text
uml/lib/batik-gvt-1.5.1.jar -text
uml/lib/batik-parser-1.5.1.jar -text
uml/lib/batik-svg-dom-1.5.1.jar -text
uml/lib/batik-svggen-1.5.1.jar -text
uml/lib/batik-util-1.5.1.jar -text
uml/lib/batik-xml-1.5.1.jar -text
uml/lib/panelbeater0.1.jar -text
uml/lib/swidgets-0.1.jar -text
uml/lib/toolbar-0.4.jar -text
uml/src/org/tigris/gefdemo/uml/Images/Association.gif -text
uml/src/org/tigris/gefdemo/uml/Images/AssociationClass.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Class.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Dependency.gif -text
uml/src/org/tigris/gefdemo/uml/Images/Interface.gif -text
www/images/gefscreen1.gif -text
